<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awareness of Waste Recycling</title>
  <link rel="stylesheet" href="{{ url_for("static",filename="css/feedback.css") }}" />
  <!--favicon link-->
  <link rel="shortcut icon" href="{{ url_for("static",filename="images/logo.png") }}" type="image/x-icon" />
</head>

<body>
  <!--navigation bar-->
  <header class="header">
    <div class="logo">
      <img src="{{ url_for("static",filename="images/logo.png") }}" alt="Logo" />
      <b>Waste Recycling</b>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="./index.html">Home</a></li>
      <li><a href="./about.html">About</a></li>
      <li><a href="./classify.html">Classify</a></li>
      <li><a href="./feedback.html" class="active">Feedback</a></li>
    </ul>
  </header>

  <div class="l">
    <h1 class="text-light" style="font-size: 40px;"><strong>FEED-BACK</strong></h1><br>
    <p style="font-size: 25px; color: #fff;">Your Feedback valuable for us
    </p>
  </div>

  <section>
    <div class="container">
      <div class="content">
        <div class="image-box">
          <img src="{{ url_for("static",filename="images/Contact us-rafiki.png") }}" alt="" />
        </div>
        <form action="/" method="POST">
          <div class="topic">FEED-BACK</div>
          <div class="input-box">
            <input type="text" required>
            <label>Enter your name</label>
          </div>
          <div class="input-box">
            <input type="text" required>
            <label>Enter your email</label>
          </div>
          <div class="message-box">
            <textarea></textarea>
            <label>Enter your Feedback</label>
          </div>
          <div class="input-box">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    <div class="container">
        <h2>Your feedbaks</h2>
        
                {% if FEEDBACKPAGEsection|length == 0 %}
                   
                <div class="alert alert-dark" role="alert">
                    No feedbacks found. Add your first feedback now!
                  </div>
                    {% else %} 
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Message</th>
                            <th scope="col">Time</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        
                        <tbody>
              {% for Feedback in FEEDBACKPAGEsection %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{Feedback.name}}</td>
                <td>{{Feedback.email}}</td> 
                <td>{{Feedback.message}}</td>                        
                <td>{{Feedback.date_created}}</td>
                <td>
                  <a href="/update/{{Feedback.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
                  <a href="/delete/{{Feedback.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
                
                </td>
              </tr>
              
              {% endfor %}
            </tbody>
            </table>
              {% endif %}
  </section>
  <!-- footer section -->
  <footer id="footer">
    <p>&copy Copyright 2022, All Rights Reserved.</p>
  </footer>
</body>

</html>
