<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="message" content="">
  <title>Awareness of Waste Recycling</title>
  <link rel="stylesheet" href="{{ url_for("static",filename="css/feedback.css") }}" />
  <!--favicon link-->
  <link rel="shortcut icon" href="{{ url_for("static",filename="images/logo.png") }}" type="image/x-icon" />
  {{ JSGlue.include() }} <!-- this is use for use url_for() from javascript -->
</head>

<body>
  <!--navigation bar-->
  <header class="header">
    <div class="logo">
      <img src="{{ url_for("static",filename="images/logo.png") }}" alt="Logo" />
      <b>Waste Recycling</b>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="./index.html">Home</a></li>
      <li><a href="./about.html">About</a></li>
      <li><a href="./classify.html">Classify</a></li>
      <li><a href="./feedback.html" class="active">Feedback</a></li>
    </ul>
  </header>

  <div class="l">
    <h1 class="text-light" style="font-size: 40px;"><strong>FEEDBACK</strong></h1><br>
    <p style="font-size: 25px; color: #fff;">Your Feedback valuable for us
    </p>
  </div>

  <section>
    <div class="container">
      <div class="content">
        <div class="image-box">
          <img src="{{ url_for("static",filename="images/Contact us-rafiki.png") }}" alt="" />
        </div>
        <form action="/" methods="POST">
          <div class="topic">FEEDBACK</div>
          <div class="input-box">
            <input type="text" required>
            <label>Enter your name</label>
          </div>
          <div class="input-box">
            <input type="text" required>
            <label>Enter your email</label>
          </div>
          <div class="message-box">
            <textarea></textarea>
            <label>Enter your Feedback</label>
          </div>
          <div class="input-box">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
      <tbody>
        {% for feedback  in allFeedbacks %}
        <tr>
           <th scope="row">{{loop.index}}</th>
           <td>{{feedback.name}}</td>
           <td>{{feedback.email}}</td>
           <td>{{feedback.message}}</td>
           <td>{{feedback.date_created}}</td> 
        </tr>
        {% endfor %}
      </tbody>      
    </div>  
  </section>
  <!-- footer section -->
  <footer id="footer">
    <p>&copy Copyright 2022, All Rights Reserved.</p>
  </footer>
</body>

</html>
